<p id="notice"><%= notice %></p>

<ol class="breadcrumb">
  <li><%= link_to 'Listagem de Coleções', collections_path %></li>
  <li><%= link_to @collection.name, @collection %></li>
  <li class="active">Listagem de items</li>
</ol>

<h1>Listagem de items</h1>

<table class="table table-bordered table-hover table-collections">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Quantidade</th>
      <th>Ações</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to item.name, [@collection, item] %></td>
        <td><%= item.amount %></td>
        <td>
          <%= link_to fa_icon('eye'), [@collection, item] %>
          <%= link_to fa_icon('edit'), edit_collection_item_path(@collection, item) %>
          <%= link_to fa_icon('times'), [@collection, item], method: :delete, data: { confirm: 'Você deseja realmente excluir este item?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo item', new_collection_item_path(@collection), class: 'btn btn-success' %>
